name: Run on Push to Main

on:
  push:
    branches:
      - main
    paths:
      .github/**

jobs:
  log:
    runs-on: ubuntu-latest
    steps:
      - name: Log to Console
      run: echo "You should only be seeing this when pushing to main!!"
